Screen {
    layout: vertical;
    margin: 0;
    padding: 0;
    background: #29324E;
}

#mainWindow {
    height: 1fr;
    width: 100%;
}

#sidebar {
    height: 100%;
    width: 15%;
    background: #1ee338;
}

#main {
    width: 1fr;
    height: 100%;
    margin: 0;
}

Header {
    height: 2;
}

Footer {
    height: 2;
}